In [1]:
import pandas as pd

In [2]:
path = "/home/kotarum/Documentos/Cosas/Labs/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv"
df = pd.read_csv(path)

### Dataframe shape

In [3]:
print("The shape of the dataframe is:", df.shape)

The shape of the dataframe is: (10910, 26)

In [4]:
print(df.columns)

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [5]:
df.columns = df.columns.str.lower()
print(df.columns)

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

### Numerical and categorical columns

In [6]:
for col in df.columns:
    if df[col].dtype == object:
        print(col)
        print("Categorical")
        print()
    else:
        print(col)
        print("Numerical")
        print()

unnamed: 0
Numerical

customer
Categorical

state
Categorical

customer lifetime value
Numerical

response
Categorical

coverage
Categorical

education
Categorical

effective to date
Categorical

employmentstatus
Categorical

gender
Categorical

income
Numerical

location code
Categorical

marital status
Categorical

monthly premium auto
Numerical

months since last claim
Numerical

months since policy inception
Numerical

number of open complaints
Numerical

number of policies
Numerical

policy type
Categorical

policy
Categorical

renew offer type
Categorical

sales channel
Categorical

total claim amount
Numerical

vehicle class
Categorical

vehicle size
Categorical

vehicle type
Categorical

### Work with the NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer lifetime value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective to date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location code                  10910 non-null  object
 12  marital status                 10910 non-null  object
 13  monthly premium auto           10910 non-null  int64
 14  months since last claim        10277 non-null  float64
 15  months since policy inception  10910 non-null  int64
 16  number of open complaints      10277 non-null  float64
 17  number of policies             10910 non-null  int64
 18  policy type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew offer type               10910 non-null  object
 21  sales channel                  10910 non-null  object
 22  total claim amount             10910 non-null  float64
 23  vehicle class                  10288 non-null  object
 24  vehicle size                   10288 non-null  object
 25  vehicle type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [8]:
df.isna().sum()

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [9]:
col_median = df["months since last claim"].dropna().median()
df["months since last claim"] = df["months since last claim"].fillna(col_median)

col_median2 = df["number of open complaints"].dropna().median()
df["number of open complaints"] = df["number of open complaints"].fillna(col_median2)

df.isna().sum()

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [10]:
df = df.dropna(subset=["state", "response", "vehicle class", "vehicle size", "vehicle type"])

df.isna().sum()

unnamed: 0                       0
customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
vehicle type                     0
dtype: int64

### Extract the months from the dataset and store in a separate column

In [11]:
from datetime import datetime

In [12]:
df['effective to date'] = pd.to_datetime(df['effective to date'])

df['month'] = df['effective to date'].dt.month
print(df.head())

    unnamed: 0 customer       state  customer lifetime value response  \
2            2  LZ68649  Washington             14947.917300       No
3            3  XL78013      Oregon             22332.439460      Yes
10          10  HG93801     Arizona              5154.764074       No
13          13  KR82385  California              5454.587929       No
16          16  FH51383  California              5326.677654       No

    coverage             education effective to date employmentstatus gender  \
2      Basic              Bachelor        2011-02-10         Employed      M
3   Extended               College        2011-01-11         Employed      M
10  Extended  High School or Below        2011-01-02         Employed      M
13     Basic                Master        2011-01-26         Employed      M
16     Basic  High School or Below        2011-02-07         Employed      F

    ...  number of policies     policy type        policy  renew offer type  \
2   ...                   2   Personal Auto   Personal L3            Offer3
3   ...                   2  Corporate Auto  Corporate L3            Offer2
10  ...                   1  Corporate Auto  Corporate L3            Offer2
13  ...                   4   Personal Auto   Personal L3            Offer4
16  ...                   6   Personal Auto   Personal L3            Offer4

    sales channel  total claim amount  vehicle class  vehicle size  \
2     Call Center          480.000000            SUV       Medsize
3          Branch          484.013411  Four-Door Car       Medsize
10         Branch          442.521087            SUV         Large
13    Call Center          331.200000   Two-Door Car       Medsize
16    Call Center          300.528579   Two-Door Car         Large

   vehicle type month
2             A     2
3             A     1
10            A     1
13            A     1
16            A     2

[5 rows x 27 columns]

/tmp/ipykernel_2164866/1435503029.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['effective to date'] = pd.to_datetime(df['effective to date'])

In [13]:
first_quarter_data = df[df['month'].isin([1, 2, 3])]